<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="template">

<head>
  <meta charset="utf-8">
  <title>Dashboard</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <div layout:fragment="Mycontent">




    <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
      <div>

        <a href="#"
          class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Balance</h5>
        </a>

      </div>
      <div>
        <a href="#"
          class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Totale<br>Categories</h5>
        </a>
      </div>
      <div>
        <a href="#"
          class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
           <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
           <div>
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Totale<br>Transactions</h5>
          </div>
          <div>
          <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white" th:text="${nombreTransactions}"></p>
          </div>
          <div>
             <i class="text-3xl bi bi-currency-exchange"></i>
          </div>
          </div>
        </a>
      </div>
      <div>
        <div>
          <canvas id="transactionsData"></canvas>
        </div>

        <script>
          const labels = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

          var expensesCountData = JSON.parse("[[${expensesCount}]]");
          var incomeCountData = JSON.parse("[[${incomeCount}]]");

          const expensesData = {
            labels: labels,
            datasets: [
              {
                label: 'EXPENSE',
                data: expensesCountData,
                backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  // 'rgba(255, 159, 64, 0.2)',
                  // 'rgba(255, 205, 86, 0.2)',
                  // 'rgba(75, 192, 192, 0.2)',
                  // 'rgba(54, 162, 235, 0.2)',
                  // 'rgba(153, 102, 255, 0.2)',
                  // 'rgba(201, 203, 207, 0.2)',
                  // 'rgba(255, 99, 132, 0.4)',
                  // 'rgba(255, 159, 64, 0.4)',
                  // 'rgba(255, 205, 86, 0.4)',
                  // 'rgba(75, 192, 192, 0.4)',
                  // 'rgba(54, 162, 235, 0.4)',
                  // 'rgba(153, 102, 255, 0.4)'
                ],
                borderColor: [
                  'rgb(255, 99, 132)',
                  // 'rgb(255, 159, 64)',
                  // 'rgb(255, 205, 86)',
                  // 'rgb(75, 192, 192)',
                  // 'rgb(54, 162, 235)',
                  // 'rgb(153, 102, 255)',
                  // 'rgb(201, 203, 207)',
                  // 'rgb(255, 99, 132)',
                  // 'rgb(255, 159, 64)',
                  // 'rgb(255, 205, 86)',
                  // 'rgb(75, 192, 192)',
                  // 'rgb(54, 162, 235)',
                  // 'rgb(153, 102, 255)'
                ],
                borderWidth: 1
              },
              {
                label: 'INCOME',
                data: incomeCountData,
                backgroundColor: [
                  // 'rgba(255, 99, 132, 0.2)',
                  // 'rgba(255, 159, 64, 0.2)',
                  // 'rgba(255, 205, 86, 0.2)',
                  // 'rgba(75, 192, 192, 0.2)',
                  // 'rgba(54, 162, 235, 0.2)',
                  // 'rgba(153, 102, 255, 0.2)',
                  // 'rgba(201, 203, 207, 0.2)',
                  // 'rgba(255, 99, 132, 0.4)',
                  // 'rgba(255, 159, 64, 0.4)',
                  // 'rgba(255, 205, 86, 0.4)',
                  // 'rgba(75, 192, 192, 0.4)',
                  // 'rgba(54, 162, 235, 0.4)',
                  'rgba(153, 102, 255, 0.4)'
                ],
                borderColor: [
                  // 'rgb(255, 99, 132)',
                  // 'rgb(255, 159, 64)',
                  // 'rgb(255, 205, 86)',
                  // 'rgb(75, 192, 192)',
                  // 'rgb(54, 162, 235)',
                  // 'rgb(153, 102, 255)',
                  // 'rgb(201, 203, 207)',
                  // 'rgb(255, 99, 132)',
                  // 'rgb(255, 159, 64)',
                  // 'rgb(255, 205, 86)',
                  // 'rgb(75, 192, 192)',
                  // 'rgb(54, 162, 235)',
                  'rgb(153, 102, 255)'
                ],
                borderWidth: 1
              }
            ]
          };

          var ctx = document.getElementById('transactionsData').getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'bar',
            data: expensesData,
            options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              }
            }
          });
        </script>
      </div>
    </div>
  </div>

</body>

</html>