<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="template">

<head>
  <meta charset="utf-8">
  <title>edit Category</title>
</head>

<body>
  <div layout:fragment="Mycontent">
    	<section class="bg-white dark:bg-gray-900">
    		 <p class=" text-left text-gray-500 dark:text-gray-400"><a href="/Categories"
         		 class="inline-flex items-center font-medium text-blue-600 dark:text-blue-500 hover:underline">
          			<i class="bi bi-arrow-left-circle mr-3"></i> 
          			Categories
        		</a>
      		</p>
      		<div class="flex justify-end" > <!-- th:if="${message}" -->
	        <div id="toast-success"
	          class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800"
	          role="alert">
	          <div
	            class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
	            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
	              xmlns="http://www.w3.org/2000/svg">
	              <path fill-rule="evenodd"
	                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
	                clip-rule="evenodd"></path>
	            </svg>
	            <span class="sr-only">Check icon</span>
	          </div>
	          <div class="ml-3 text-sm font-normal" th:text="${message}"></div>
	          <button type="button"
	            class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
	            data-dismiss-target="#toast-success" aria-label="Close">
	            <span class="sr-only">Close</span>
	            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
	              xmlns="http://www.w3.org/2000/svg">
	              <path fill-rule="evenodd"
	                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
	                clip-rule="evenodd"></path>
	            </svg>
	          </button>
	        </div>
          </div>
          
           <div class="max-w-2xl px-4 py-8 mx-auto lg:py-16">
        		<h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Update Category</h2>
        		<form action="update_transaction" method="post">
          <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
            <input type="text" name="transaction_id" hidden>
            <div class="w-full">
              <label for="categoryName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category Name</label>
              <input type="text" name="categoryName" id="categoryName"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                 placeholder="$299">
            </div>
            
            <div class="w-full">
              <label for="categoryName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category Icon</label>
              <input type="file" name="categoryIcon" id="categoryIcon"
                 placeholder="$299">
            </div>

          <div class="flex items-center space-x-4">
            <button type="submit" 
              class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
              Update Transaction
            </button>   <!-- action="update_transaction" method="post" -->
          </div>
       		 </form>
          </div>
          
    	</section>
  </div>
</body>

</html>